.menu-btn {
    width: 50%;
    height: inherit;
    border-radius: 12px;
    padding: 20px;
    border: none;
    background-color: rgba(75, 159, 255, 0.74);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.menu-btn:hover {
    background-color: rgba(30, 135, 255, 0.74);
}