.menu-container {
    height: 100%;
    width: 28%;
    border: 1px red solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.img-logo {
    height: 70%;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}