.score-modal {
    height: 100%;
    border: 1px red solid;

}

.score {
    height: 100%;
    border: 1px black solid;
}

.score-img {
    width: 93%;
    height: 100%;
    display: flex;
    justify-self: flex-end;
    border: 1px yellow solid;
}