.piano-container {
  position: relative;
  display: flex;
  justify-self: center;
  width: 90%;
  height: 75%;
  border-radius: 5px 5px 10px 10px;
  border:0.1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.white-key {
  width: 10%;
  height: 96%;
  background: white;
  border: 0.1px solid rgba(0, 0, 0, 0.541);
  border-radius: 5px 5px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

.white-key:active {
  background: lightgray;
}


.black-key {
  width: 3.7%;
  height: 50%;
  background: black;
  color: white;
  border: 0.5px solid black;
  border-radius: 0 0 10px 10px;
  text-align: center;
  line-height: 25vh;
  font-weight: bold;
  cursor: pointer;
  position: absolute; 
  pointer-events: auto;
  transform: translateX(-50%); 
}

.black-key:active {
  background: darkgray;
}