.record-buttons-container {
    display: flex;
    gap: 5%;
    align-items: center;
    height: 100%;
    justify-content: right;
}

.volume-buttons{
    display: flex;
    height: 100%;
    width: 13%;
    align-self: center;
    flex-direction: column;
    gap: 5%;
    background-color: transparent;
}

.record-buttons {
    display: inline-flex;
    gap: 5%;
    width: 55%;
    height: 100%;
    align-items: center;
}

.record-button {
    height: 75%;
    background-color: transparent;
    border: 0.5px black solid;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    box-shadow: 1px 2px 2px 1px #000000;
}

.record-button:focus {
    border: none;
    box-shadow: 1px 2px 1px 1px white;
}

.icon {
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
}