.record-buttons-container {
    display: flex;
    gap: 5%;
    align-items: center;
    height: 100%;
    width: 100%;
}

.volume-buttons{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    gap: 5%;
    background-color: transparent;
    justify-content: center;
}

.record-buttons {
    display: inline-flex;
    gap: 5%;
    width: 70%;
    height: 100%;
    align-items: center;
}

.record-button {
    height: 70%;
    width: 80%;
    border-radius: 10px;
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px 0 black;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
}

.record-button:focus {
    border: black 0.5px solid;
    box-shadow: 0 0 20px 0 black;
}

.play-icon {
    width: 45%;
    align-self: center;
    justify-self: center;
}

.pause-icon {
    width: 60%;
}

.rec-img {
    width: 45%;
}