.level-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-arrow {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    left: 32.5%;
    box-shadow: none;
}

.back-arrow-img {
    width: 28px;
    height: 28px;
}

.level-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 40px 0 0;
}
