.songs-modal {
    height: 100%;
    width: 100%;
    padding-top: 10%;
}

.songs-container {
     display: flex;
     gap: 5px;
     margin-bottom: 20px;
     height: 60%;
     align-items: center;
}