.level-button {
    padding: 25px;
    border-radius: 10px;
    border: none;
    width: 25%;
    font-size: 15px;
    background-color: rgba(45, 24, 151, 0.74);
}

.level-button:hover {
    background-color: rgba(247, 21, 62, 0.74)
}