.config-container {
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}
.instrument-config {
  display: flex;
  gap: 20px;
  width: 40%;
}

.record-config {
  height: 100%;
  width: 20%;
}