.recordings {
    background-color: transparent;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
}

.close-button {
    color: black;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    position: relative;
    right: -97%;
    padding: 0;
}

.close-button:focus {
    box-shadow: none;
    border: none;
}

.close-img {
    width: 20px;
    height: 20px;
}
.record {
    background-color: white;
    display: inline-flex;
    gap: 5px;
    width: 90%;
    height: 30px;
    margin: 0;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 4px 3px 8px rgb(0, 0, 0);
}

.record > p {
    color: black;
    font-size: 1rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 95%;
    width: fit-content;
}
.icon-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    border:none;
    padding: 0;
}

.icon-btn:focus {
    box-shadow: none;
    border: none;
}

.img-btn {
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.img-play {
    padding-top: 3px;
    width: 17px;
    height: 17px;
    justify-content: center;
    align-items: center;
}

.img-delete {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}