.ins_button {
    width: 25%;
    border-radius: 10px;
    background-color: rgba(109, 177, 254, 0.74);
    padding: 10px;
    border: none;
    cursor:pointer;
    box-shadow: 3px 3px 0px 3px #15283d;
}

.ins_button:focus {
    border: black 1px solid;
    box-shadow: 0 0 20px 0 black;
}