.sup-container {
    width: 100%;
    height: 50%;
    border: black 1px solid;
    font-size: 1px;
    border-radius: 10px;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.inf-container {
    display: flex;
    justify-content: center;
    height: 45%;
    border: black 1px solid;
}